.DS_Store
.git
bower_components
node_modules
npm-debug.log
/npm-debug.log
/public/resources/
/newrelic.js
/public/components/
/doc/doc/
/public/doc/
/.project
/.settings
/.npmrc
/crash.log
/opt/
/test/var/
.vscode